{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-header">
                {{blog.pub_date}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.body}}</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
                <a href="{% url 'delete' blog.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'edit' blog.id %}" class="btn btn-warning">Edit</a>
            </div>
        </div>
    </div>
    <br />
</div>
{% endblock %}