{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<br>
<div class="container">
    <div class="container">
        <form action="{% url 'create' %}">
            <h4>제목: </h4>
            <input type="text" name="title">
            <br>
            <br>
            <h4>본문: </h4>
            <textarea cols=40 rows=10 name="body"></textarea>
            <br>
            <br>
            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>
    <br />
</div>
{% else %}
<br />
<h1>You need to Log in or Sign up!</h1>
<a href = "{% url 'login' %}"><button class = "btn btn-primary">Log in</button></a>
<a href = "{% url 'signup' %}"><button class = "btn btn-warning">Sign up</button></a>
{% endif %}
{% endblock %}